# Calculate Frequency Distribution In Pandas

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("Data/grocery.csv")
df

         Type         Items  Price InStock
0       Fruit         Apple    100     Yes
1       Fruit        Orange    200     Yes
2       Fruit        Grapes    300     Yes
3       Fruit         Peach    350     Yes
4       Fruit        Banana     60     Yes
5       Fruit        Papaya     50     Yes
6       Fruit    Pine Apple    100     Yes
7       Fruit   Pomogranate    250      No
8       Fruit  Dragon Fruit    400      No
9       Fruit   Water Melon    150      No
10  Vegetable        Potato     40     Yes
11  Vegetable         Onion     30     Yes
12  Vegetable   Cauliflower     40     Yes
13  Vegetable       Cabbage     50     Yes
14  Vegetable      Cucumber     70     Yes
15  Vegetable       Spinich     30     Yes
16  Vegetable        Garlic    150     Yes
17  Vegetable        Ginger    160      No
18  Vegetable         Beans     80     Yes
19  Vegetable      Capcicum     60     Yes

In [4]:
pd.crosstab(df.Type,df.InStock)

InStock    No  Yes
Type
Fruit       3    7
Vegetable   1    9